body {
  background-color: rgb(26, 24, 24);
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 5fr 10fr;
  background-color: rgb(25, 136, 84);
}
.App div {
  border: 2px solid rgb(29, 12, 92);
  font-size: 30px;
}

.name {
  color: rgb(121, 11, 11);
  background-color: burlywood;
}
.greeting {
  color: rgb(240, 227, 49);
}

